body {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Josefin Sans", "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

header {
  background-color: #9ea088; /* artichoke green */
  align-items: center;
  border-radius: 6px;
  padding: 10px;
  display: grid;
  grid-template-columns: 200px auto;
}

#picture {
  padding: 10px;
}

main h2 {
  border-bottom: 1px solid black;
}

footer {
  text-align: center;
  background-color: #9ea088; /* artichoke green */
  border-radius: 6px;
  padding: 10px;
}

#lastmod {
  font-style: italic;
  font-size: smaller;
}
