#content {
  max-width: 600px;
  margin: 0 auto;
}

body {
  font-family: "Josefin Sans", "Open Sans", sans-serif;
}

header {
  background-color: #9ea088; /* artichoke green */
  align-items: center;
  display: grid;
  grid-template-columns: 200px auto;
}

#picture {
  padding: 10px;
}

footer {
  text-align: center;
  margin: 0 auto;
  background-color: #9ea088; /* artichoke green */
  display: grid;
  grid-template-rows: 2fr;
}
