@mediaonlyscreen and(min-width:1080px) {
  headerimg{
    width:32px;

    padding:060px;
  }

  #ham{
    display:none;
  }
  header{
    padding:20px15px;
  }

  navulli{
    display:block;
  }
  navula{
    color:#fff;
    text-decoration:none;
  }

  #menu{
    justify-content:space-evenly;
    display:flex;
    flex-direction:row;
    position:relative;
    background-color:transparent;
    margin:0;
  }
  .visuallyhidden{
    opacity:1;
  }
  ullia{
    border-top:3pxsolid rgba(255,255,255,0);
    border-bottom:3pxsolid rgba(255,255,255,0);

    color:white;
    background-color:transparent;
  }
  ullia:hover{
    border-top:3pxsolid white;
    border-bottom:3pxsolid white;

    color:white;
    background-color:transparent;
  }
  div.hero{
    height:802px;
  }

  .transhero{
    width:643px;
  }
  .hero-socials{
    padding-left:85px;
  }
  .transheroh1{
    font-size:50px;
    padding-left:85px;
  }

  .transheroh2{
    font-size:26px;
    padding-left:85px;
    margin:-45px000;
  }

  .transherop{
    padding-left:85px;
  }

  .weather-container{
    height:148px;

    grid-template-columns:1fr1fr;
  }
  .todays-dateh3{
    font-size:62px;
  }
  .todays-dateh4{
    font-size:24px;
    margin:-55px000;
  }
  .weather-underline{
    height:inherit;
  }
  .todays-temph4{
    font-size:45px;
    margin:30px000;
  }
  .todays-temp:nth-child(2) {
    margin:-5px000;
    font-size:15px;
  }
  .todays-temp:nth-child(3) {
    margin:1px000;
    font-size:15px;
  }

  .weather-future{
    padding:0;
  }

  .next-dayh4{
    font-size:21px;
    margin:35px000;
  }
  .next-dayh5{
    font-size:27px;
    margin:0;
  }
  .next-dayp{
    font-size:14px;
    margin:0;
  }

  .temple-trans-banner{
    left:50%;
    width:400px;
  }
  .temple-trans-bannerh3{
    font-size:33px;
  }

  .temple-trans-bannerp{
    font-size:17px;
    line-height:29px;
    margin:-10px000;
  }

  .reserve-trans-banner{
    height:336px;
    left:0;
    width:600px;
    height:200px;
    padding:45px65px55px65px;
  }

  .reserve-trans-bannerh3{
    font-size:33px;
  }

  .reserve-trans-bannerp{
    font-size:17px;
  }

  .make-reservation{
    font-size:22px;
  }

  /* <!-- ------------------------------Footer------------------------ --> */
  .footer-container{
    width:1080px;
    display:grid;
    grid-template-columns:3fr1fr;
  }

  /* <!-- ------------------------------Temple Page------------------------ --> */

  .temples-containerh1{
    font-size:60px;
    margin-bottom:88px;
  }
  .temples-container{
    width:1080px;
  }
  .temple-cards-grid{
    grid-template-columns:1fr1fr;
    margin-bottom:88px;
    grid-gap:205px;
  }

  /* <!-- ------------------------------Reservation Page------------------------ --> */
  .temple-reservation-form-container{
    width:800px;
  }
  .reservation-container{
    padding-top:118px;
    width:70%;
    margin:0auto;
  }
  .reservation-form{
    padding-left:100px;
  }

  /* <!-- ------------------------------Services Page------------------------ --> */
  .services-grid{
    grid-template-columns:1fr1fr;
    width:800px;
  }
  .services-container{
    width:1000px;
  }

  .contact-container{
    width:700px;
  }

  .edit{
    margin-top:0;
  }
}
