@media only screen and (min-width: 32.5em) {
  
  #content {
    max-width: 40em;
    margin: 0 auto;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
    margin: 0 auto;
  }
  
  section h4, a {
    font-size: 1rem;
  }
  
  section p {
    font-size: 1rem;
  }

  #section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: .9em;
    max-width: 40em;
  }

  #third {
    max-width: 50em;
  }
  
  header,
  footer {
    max-width: 100%;
    margin: 0 auto;
  }
}