/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;*/

body {
  font-size: 16px;
  max-width: 100%;
  font-family: "Josefin Sans", "Open Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4rem;
  text-align: center;
  margin:20px;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.1rem;
}

header {
  background-color: #9ea088; /* artichoke green */
  border-radius: 6px;
  padding: .5rem;
  max-width: 100%;
}

h3 {
  font-size: 0.9rem;
  background-color: #9ea088;
  border-radius: 6px;
  padding: 10px;
}

section h4, a {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

section p {
  font-size: 0.9rem;
  max-width: 100%;
  padding: 10px;
}

#beauty,
#third,
#china {
  background-color: #f5cbb3;
  border-radius: 6px;
  margin: 0 auto;
}

img {
  padding-top: 15px;
  max-width: 100%;
  margin: 0 auto;
}

footer {background-color: #f5cbb3;
  font-size: 0.9rem;
  text-align: center;
  background-color: #9ea088; /* artichoke green */
  border-radius: 6px;
  padding: 10px;
}

#lastmod {
  font-style: italic;
  font-size: smaller;
}