/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;*/

body {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Josefin Sans", "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

header {
  background-color: #9ea088; /* artichoke green */
  align-items: center;
  border-radius: 6px;
  padding: 5px;
  display: grid;
  grid-template-columns: 200px auto;
}

#picture {
  padding: 5px;
}

main h2 {
  margin-left: 10px;
  border-bottom: 1px solid black;
}

footer {
  text-align: center;
  background-color: #9ea088; /* artichoke green */
  border-radius: 6px;
  padding: 10px;
}

#lastmod {
  font-style: italic;
  font-size: smaller;
}

@media screen and (max-width: 390px) {
  header,
  main,
  footer {
    max-width: 100%;
    font-size: 0.7em;
    grid-template-columns: 150px auto;
  }
}
