th, td {
  border: 1pt solid #b5bdba;
}

table {
  font-family: 'Ubuntu', sans-serif;
  border-collapse: collapse;
  margin: 0 auto;
  text-align:center;
  padding: 2rem;
  line-height: 2rem;
  box-shadow: 5px 10px 10px #628ca6;
}

tr:first-child th {
  background-color: #7fb9c2;
  color: black;
  font-size: 1.6rem;
  font-weight: 700;
  padding: .5rem;
}

th {
  background-color: #628ca6;
  color: white;
  font-size: 1.1rem;
  padding-left:1.4rem;
  padding-right:1.4rem;
}

tbody {
  background-color: #e7f0ed;
  font-size: 1rem;
  font-weight: 400;
}

tbody tr:nth-child(even) {
  background-color: #e7ffed;
}

.black-friday {
  font-style:italic;
}

.nov-sales-goal {
  background-color: #628ca6;
  color: white;
}

tfoot {
  background-color: #7fb9c2;
  font-size: .8rem;
}

