:root {
  --main-background-color: #FFFFFF;
  --main-text-color: #060606;
  --header-footer-background-color: #03045e;
  --header-footer-text-color: #ffffff;
  --header-heading-color: #ffffff;
  --nav-background-color: #064e40;
  --nav-text-color: #ffffff;
  --nav-hover-background-color: #03045e;
  --heading-background-color: #6EB43F;
  --heading-text-color: #060606;
  --font-family: 'Montserrat', sans-serif;
}

main div {
  max-width: 600px 400px;
  background-color: #ffffff;
  padding: 1em;
  padding-bottom: 100px;
  border: 1px solid #444;
}

body {
  background-color: var(#ffffff);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
}

.spotlights {
  padding-bottom: 1em
}
.spotlights span:nth-child(3) {
  display: none;
}
.spotlights p {
  border: 1px solid #444;
  margin: 0;
  padding: 1em;
  padding-bottom:200px
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6rem;
  text-align: center;
}

.content p, .content a, li {
  font-family: 'Montserrat', sans-serif;
}

header h1 {
  font-size: 1.5rem;
  color: var(--header-heading-color);
}

header {
  background-color: var(--header-footer-background-color);
  color: var(--header-footer-text-color);
  text-align: center;
}

header, nav, main, footer {
  max-width: 960px;
  margin: 0 auto;
  padding: 1vw;
}

nav {
  margin: 0 auto;
	max-width: 760px;
  background-color: var(--nav-background-color); 
  display: flex;
  flex: 1 1 auto;
  padding: 2vw;
  flex-direction: column;
  text-align: center;
}

nav a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-text-color);
}

.navBar li {
  list-style: none;
  padding: 0;
  font-family: "Montserrat";
}

.navBar li:first-child {
	display: block;
}

.navBar li {
	display: none;
}

nav ul li a {
	display: block;
	padding: 0.8rem, 2vw;
	text-align: left;
	text-decoration: none;
	color: #ffffff;
  border: top 1px solid rgba(0,0,0,0.5);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navBar a.ham::before {
	content: "🍔 ";
}

nav ul {
  display: none;
  padding: 0px;
  margin: 0px;
}
nav ul.open{
  display: block;
}

nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer; 
  color:#6eb43f
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

.sclogo {
width: 156px;
height: 140px;
}

h3 {
  padding: 0.25em;
  background-color: var(--heading-background-color);
  color: var(--heading-text-color)
}

#h-row {
  background-color:#6EB43F;
  height: 3px;
}
footer {
  background-color: var(--header-footer-background-color);
  color: var(--header-footer-text-color);
  background-color: #03045e;
}
footer div {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 1vw;
  text-decoration: none;
}

footer h3 {
  color: 6EB43F
}

.contact a {
  color: #6EB43F;
  text-decoration: none;
}

.contact a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.project-info {
  background-color:#6eb43f; 
}

#lastmod {
  font-family: "Montserrat Light";
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
}

