:root {
  --main-background-color: #FFFFFF;
  --main-text-color: #060606;
  --header-footer-background-color: #03045e;
  --header-footer-text-color: #ffffff;
  --header-heading-color: #ffffff;
  --nav-background-color: #064e40;
  --nav-text-color: #ffffff;
  --nav-hover-background-color: #03045e;
  --heading-background-color: #6EB43F;
  --heading-text-color: #060606;
  --font-family: 'Montserrat', sans-serif;
}
body {
  background-color:#FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.3rem;
}

.banner {
  text-align: center;
  background-color: #03045e;
  margin: 0 auto;
  padding: .5em;
  max-width: 100vw;
}

.banner p {
  color:#FFFFFF;
}

header {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  /* padding: 1em; */
  align-items: center;
  background-color: var(--header-footer-background-color);
  color: var(--header-footer-text-color);
}
header, main, footer {
  max-width: 100vw;
  margin: 0 auto;
  /* padding: 1vw; */
}
header h1 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
header h2 {
  grid-column: 1;
  grid-row: 2;
  font-size: 0.8rem;
  line-height: 1rem;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h3 {
  padding: 0.25em;
}
.sclogo {
  width: 50px;
  margin: 0.7em;
  grid-column: 1/2; 
  grid-row: 1; 
}
.chamber-name {
  grid-column: 2/3;
  margin-right: 1em;
  align-self: center;
  line-height: 1.2;
}
.social {
  grid-column: 3/4;
  margin: 20px;
}
.social img {
  width: 25px;
}
#aside {
  background-color: #6eb43f;
  grid-column: 1/4;
  text-align: center;
  color:#064e40;
  max-height: 1.5rem;
}
nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 1.2rem; 
  color:#6EB43F;
}
nav {
  background-color: #03045e;
  grid-column: 1/5; 
}
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0px;
}
nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li.active a {
  background-color: rgba(0,0,0,0.2);
  color: #ffffff;
}
nav ul li a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-text-color);
}
nav ul {
  display: none;
}
nav ul.open{
  display: block;
}
#hamButton span:nth-child(1) {
  display: block;
}
#hamButton span:nth-child(2) {
  display: none;
}
#hamButton.open span:nth-child(1) {
  display: none;
}
#hamButton.open span:nth-child(2) {
  display: block;
}

main {
  display: grid;
  grid-gap: 1em;
  color: #FFFFFF;
}
main div {
  background-color: #03045e;
  text-align: center;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.20);
}

.hero {
  position: relative;
  text-align: center;
  background-color: transparent;
}
.hero h2 {
  color: #FFFFFF;
  position: absolute;
  top: 10px;
  left: 20px;
}
.hero img {
  width: 100%;
}
#joinButton {
  color:#064e40;
  background-color: #6eb43f;
  border-color: #064e40;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  font-size: 16px;
  bottom: 40px;
  right: 15px;
  border-radius: 8px;
}
#join2Button {
  color:#064e40;
  background-color: #6eb43f;
  border-color: #064e40;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
}
.hero button:hover {
  font-size: 18px;
  color: #FFFFFF;
}
h2 {
  color: #6EB43F;;
}

.event {
  text-align: center;
  padding-bottom: 2em;
  padding: 1em;
}
.event h3 {
  color: #FFFFFF;
}

#more-info {
  color:#6eb43f;
  text-decoration: none;
}

.weather {
  width: 300px;
  justify-self: center;
}
.weather p {
  font-size: 25px;
}
.weather img {
  margin-left: 1em;
  float: left;
}
.weather span:nth-child(1) {
  font-size: 16px;
  border-top: #FFFFFF;
}
.weather span:nth-child(2) {
  font-size: 16px;
}

.news p {
  padding: 1.5em;
}

.spotlights {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(0,0,0,0.20)
}
.spotlights a {
  margin-left: 2em;
}
.sign-shop {
  grid-row: 1/2;
  padding: .5em;

}
.health {
  grid-row: 2/3;
  padding: .5em;
}
.moover {
  display: none;
}

.contact1, 
.contact2,
.contact3 {
  padding: .5em;
}

#h-row {
  background-color:#6EB43F;
  height: 3px;
}
footer {
  display: block;
  background-color: var(--header-footer-background-color);
  color: var(--header-footer-text-color);
  padding: 1vw;
  text-align: left;
}
footer div {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin: 0;
  padding: 1vw;
  text-decoration: none;
  color:#FFFFFF
}
footer img {
  width: 250px;
  height:83px;
  margin: 0.7em; 
}

.contact a {
  color: #6EB43F;
  font-size: .8rem;
  text-decoration: none;
}
.contact a:hover {
  color: #FFFFFF;
  font-size: .8rem;
  text-decoration: none;
}
.project-info {
  background-color:#6eb43f; 
  color:#064e40;
}
#lastmod {
  font-family: "Montserrat Light";
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
}