:root {
  --main-background-color: #FFFFFF;
  --main-text-color: #060606;
  --header-footer-background-color: #03045e;
  --header-footer-text-color: #ffffff;
  --header-heading-color: #ffffff;
  --nav-background-color: #064e40;
  --nav-text-color: #ffffff;
  --nav-hover-background-color: #03045e;
  --heading-background-color: #6EB43F;
  --experimental: #f05670;
  --heading-text-color: #060606;
  --font-family: 'Montserrat', sans-serif;
}
body {
  background-color:var(--header-footer-background-color);
  /* background: radial-gradient(#03045e, rgba(37, 59, 83, 0.9)); */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}

.banner {
  text-align: center;
  background-color: #03045e;
  margin: 0 auto;
  padding: .5em;
  max-width: 100vw;
}

.banner p {
  color:#f3e30a;
}
header {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  /* padding: 1em; */
  align-items: center;
  background-color: var(--header-footer-background-color);
  color: var(--header-footer-text-color);
}
header, main, footer {
  max-width: 100vw;
  margin: 0 auto;
  /* padding: 1vw; */
}
header h1 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
header h2 {
  grid-column: 1;
  grid-row: 2;
  font-size: 0.8rem;
  line-height: 1rem;
}
h1, h2, h3 {
  text-align: center;
}
h3 {
  padding: 0.25em;
}
.sclogo {
  width: 50px;
  margin: 0.7em;
  grid-column: 1/2; 
  grid-row: 1; 
}
.chamber-name {
  grid-column: 2/3;
  margin-right: 1em;
  align-self: center;
  line-height: 1.2;
}
.social {
  grid-column: 3/4;
  margin: 20px;
}
.social img {
  width: 25px;
}
#aside {
  /* background-color: #6eb43f; */
  background-color: #6EB43F;
  grid-column: 1/4;
  text-align: center;
  color: #000;
  /* color:#064e40; */
  max-height: 1.5rem;
}
nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 1.2rem; 
  color:#6EB43F;
}
nav {
  background-color: #03045e;
  grid-column: 1/5; 
}
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0px;
}
nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li.active a {
  background-color: rgba(0,0,0,0.2);
  color: #ffffff;
}
nav ul li a:hover {
  background-color: #6EB43F;
  /* background-color: var(--nav-hover-background-color); */
  color: var(--nav-text-color);
}
nav ul {
  display: none;
}
nav ul.open{
  display: block;
}
#hamButton span:nth-child(1) {
  display: block;
}
#hamButton span:nth-child(2) {
  display: none;
}
#hamButton.open span:nth-child(1) {
  display: none;
}
#hamButton.open span:nth-child(2) {
  display: block;
}

main {
  display: grid;
  grid-gap: 1em;
  color: #FFFFFF;
}
main div {
  background-color: #03045e;
  text-align: center;
}

.hero {
  position: relative;
  text-align: center;
  background-color: transparent;
}

.hero h2 strong{
  font-size: 1rem;
}

.hero h2 {
  color: #6EB43F;
  background-color: #064e40;
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 1rem;
  border-radius: 8px;
}
.hero img {
  width: 100%;
}
#joinButton {
  background: radial-gradient(#fff, rgba(37, 59, 83, 0.8));
  color: #000;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  bottom: 40px;
  right: 15px;
  border-radius: 8px;
  margin-right: 2%;
}
#join2Button {
  background: radial-gradient(#fff, rgba(37, 59, 83, 0.8));
  color: #000;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
}
/* #join2Button {
  color:#064e40;
  background-color: #6eb43f;
  border-color: #064e40;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
} */
.hero button:hover {
  font-size: 18px;
  color: #FFFFFF;
}
h2 {
  /* color: #6EB43F; */
  color: #6EB43F;
}

.event {
  text-align: center;
  padding-bottom: 2em;
  padding: 1em;
  width: 100%;
  border: solid rgba(37, 59, 83, 0.8);
}

#more-info {
  color:#6eb43f;
  text-decoration: none;
}

.weather {
  width: 300px;
  justify-self: center;
  border: solid rgba(37, 59, 83, 0.8);
}
.weather p{
  font-size: 2rem;
  font-weight: 700;
  color:#6eb43f;
}

.weather img {
  margin-left: 1em;
  float: left;
}

.weather hr {
  height: 0.3rem;
  border: none;
  margin-top: 0;
  background-color: rgba(37, 59, 83, 0.8);
}

a {
  color: #6EB43F;
  font-size: .8rem;
  line-height: 1rem;
  text-decoration: none;
}
a:hover {
  color: #fff;
  font-size: .8rem;
  text-decoration: none;
}

.join {
  border-top: solid rgba(37, 59, 83, 0.8);
}

.news {
  border: solid rgba(37, 59, 83, 0.8);
}

.health {
  border-left: solid rgba(37, 59, 83, 0.8);
}

.news p {
  padding: 1.5em;
}

.spotlights {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--header-footer-background-color);
  /* background: radial-gradient(#03045e, rgba(37, 59, 83, 0.6)); */
}
.spotlights a {
  margin-left: 2em;
}
.sign-shop {
  grid-row: 1/2;
  padding: .5em;

}
.health {
  grid-row: 2/3;
  padding: .5em;
}
.moover {
  display: none;
}

.contact1, 
.contact2,
.contact3 {
  padding: .5em;
}

footer h1 {
  text-align:center;
}

.address p:first-child {
  font-size: 1.2rem;
  color: #6EB43F;
}

.project-info {
  background-color:#6eb43f; 
  color:#064e40;
} 
#lastmod {
  font-family: "Montserrat Light";
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
}

footer {
	background-color: var(--header-footer-background-color);
	display: grid;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
	text-align: center;
  color:#fff;
}

#hr-1 {
  height: 2rem;
  border: none;
  margin-top: 2rem;
  margin-bottom: 0;
  background-color: #064e40;
}

#wide-hr-1 {
  height: 2rem;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #064e40;
}

#hr-2 {
  height: 1rem;
  border: none;
  margin-top: 0;
  background-color: #6eb43f;
}

.footer-logo {
	grid-column: 1/2;
	grid-row: 2/3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.address {
	grid-column: 1/2;
	grid-row: 3/4;
	line-height: 0.5rem;
}

.contact {
	grid-column: 1/2;
	grid-row: 4/5;
	line-height: 0.5rem;
}

footer .contact a:hover {
  color: #fff;
  font-size: .8rem;
  text-decoration: none;
}

.project-info {
	grid-column: 1/2;
	grid-row: 5/6;
	letter-spacing: 1.5pt;
	text-align: center;
  color: #000);
}

/********footer personal info**********/
footer div picture img {
	width: 80px;
	height: auto;
}

.sc-coc {
	margin-left: 1rem;
}

.sc-coc p {
	margin: 0;
}

.title {
	font-size: 2rem;
	font-weight: 700;
  line-height: 2rem;
  color:#fff;
}

.title2 {
	font-weight: 700;
	letter-spacing: 0.15rem;
  color:#fff;
}

.nodecoration {
	text-decoration: none;
}

.smaller {
	font-size: smaller;
  color:#fff;
}

/* discover page */

section {
  color: #000;
}

section div {
  background-color: #eee;
  text-align: center;
}

#discover {
  background-color: #eee;
  line-height: 2rem;
  margin: 0;
  padding: 2rem;
}

.grid-container {
  display: block;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
}

.grid-container picture {
  max-width: 100%;
  margin: 0 auto;
}

.grid-container picture img[data-src] {
  filter: blur(0.2em);
}

.grid-container picture img[data-src]:hover {
  border-radius: 5px 150px;
}
.grid-container picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}

/***************** directory page *****************/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #eee;
}

.card {
  margin: 0.25rem;
  padding: 1.5rem;
  border: 1px solid #064e40;
  border-radius: 2px;
  box-shadow: 0 3px 8px 10px #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#000;
  background-color: #fff;
  border-radius: 5px 5px;
}

.card img {
  max-width: 70%;
}

.dirBox {
  display: block;
  background-color: #eee;
}

.card h2 {
  font-size: .8rem;
  text-align: center;
  color: black;
}

.switch{
  text-align: center;   
  background-color: #eee;
  box-shadow: none;
  margin-bottom: 1em;
}

.switch button {
  margin: 3px;
  border: 2px solid #064e40;
  background-color: #6EB43F;
  font-size: 40px;
  color:#ddd ;
}

.switch button:hover {
  color: #03045e;
  cursor: pointer;
}

.list tr{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  padding: 15px 0 15px 0;
  border-radius: 3px;
  margin: 0 auto;
  text-align: left;
} 

.list tr:nth-child(even) {
  background-color: white;
}

.list td {
  padding-left: 10px;
  padding-right: 10px;
  font-size: .8rem;
}
.dirBox h2 {
  margin-left: .8em;
  color: black;
  text-shadow: none;
}
.card h2, .list h2 {
  color: #000;
  display: block;
}
.card p, .list p {
  font-size: .8rem;
}
.card a, .list a {
  font-size: .8rem;
  color: #000;
  text-decoration: none;
}
.card a:hover, .list a:hover {
  font-size: .8rem;
  color:#6eb43f;
}

.list tr, tr a {
  padding-left: 1rem;
  text-align: left;
}

.wireframe {
  display: flex;
  justify-content: center;
}

.wireframe img {
  max-width: 70%;
}

/* last visit */
.last-visit {
align-content: center;
justify-content: center;
grid-column: 1/5;
 display: flex;
 flex-wrap: wrap;
}
