@media only screen and (min-width:35rem) {
    
  #logo {
      width: 2%;
  }
  .social {
      width: 40px;
  }
  section:nth-last-of-type(3) {
      display: flex;
      justify-content: space-evenly;
  }
  .first {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .head{
      display: flex;
      justify-content: left;
      align-items: center;
      text-align: left;
  }

}