@media only screen and (min-width:32.5rem) {
    
  .sclogo {
      width: 2%;
  }
  .social {
      width: 120px;
  }
  section:nth-last-of-type(3) {
      display: flex;
      justify-content: space-evenly;
  }
  .first {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .head{
      display: flex;
      justify-content: left;
      align-items: center;
      text-align: left;
  }
	.navBar {
		display: flex;
	}
	.navBar li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navBar a {
		text-align: center;
	}
	.navBar li:first-child {
		display: none;
	}
}