:root {
  --main-bg-color: #FFFFFF;
  --main-text-color: #130107;
  --header-footer-bg-color: #03045e;
  --header-footer-text-color: white;
  --header-heading-color: white;
  --nav-bg-color: #064e40;
  --nav-text-color: .white;
  --nav-hover-bg-color: #03045e;
  --heading-bg-color: #b8fb3c;
  --heading-text-color: #130107;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Merriweather Sans', monospace;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Roboto Mono', sans-serif;
  text-align: center;
}

.content p, .content a, li {
  font-family: 'Roboto Mono', sans-serif;
}

header h1 {
  color: var(--header-heading-color);
}

header, footer {
  background-color: var(--header-footer-bg-color);
  color: var(--header-footer-text-color);
  text-align: center;
}

header, nav, main, footer {
  max-width: 960px;
  margin: 0 auto;
  padding: 1vw;
}

nav {
  background-color: var(--nav-bg-color); 
  display: flex;
  flex-direction: column;
  text-align: center;
}

nav div {
  flex: 1 1 auto;
  padding: 1vw;
}

nav a {
  text-align: center;
  color: white;
  text-decoration: none;
}

nav div:hover {
  background-color: var(--nav-hover-bg-color);
  color: var(--nav-text-color);
}

img {
  max-width: 25vw;
  border: solid 3px black;
}

.body-content {
  display: grid;
  grid-gap: 2vw;
  grid-template-rows: 2em auto 2em 20vw;
  max-width: 960px;
  margin: auto;
  text-align: center;
}

#logo {
  grid-row: 3/4;
}

.body-content p {
  grid-row: 2/3;
  padding: 1vw;
}

.body-content img {
  grid-row: 4/5;
  margin: 0 auto;
  margin-top: 3.5vw;
}

h3 {
  height: 100%;
  padding: 0.25em;
  background-color: var(--heading-bg-color);
  color: var(--heading-text-color)
}

.color-grid {
  margin: 1vw;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: auto;
}

.color-grid div {
  border: solid 1px black;
  margin: 1vw;
  text-align: left;
}

.black {
  background-color: var(--main-text-color);
  color: white;
}

.white {
  background-color: white;
}

.navy {
  background-color: var(--header-footer-bg-color);
  color: white;
}

.blue-green {
  background-color: var(--nav-bg-color);
  color: white;
}

.green-yellow {
  background-color: var(--heading-bg-color);
  color: #064e40;
}

.coolors {
  text-align: center;
}

.typography-body {
  text-align: center;
}

footer {
  text-align: center;
  background-color: --header-footer-bg-color;
  padding: 10px;
  max-width: 100%;
  font-family: 'Roboto Sans';
  font-size: .9rem;
}
footer p {
  margin: 0;
}

#last-modified {
  font-style: italic;
  font-size: smaller;
}

th {
  background-color: var(--header-heading-color);
  padding: 2vw;
}

td p {
  padding: 2vw;
}